/.idea/*
/.classpath
/.project
/out/
/classes/
/.eclipse/
/.settings/
/bin/
/test-output
/.nb-gradle/
/nbproject/
**/.project
**/.settings
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node-modules
node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

build/
.gradle/

*.zip
*.jar

!gradle-wrapper.jar
