$primary: #ab2424;
$red: #e74c3c;

$grey-lighter: #e0e0e0;
$grey-light: #a8a8a8;
$link: $red;

@import "darkly-variables";

$gap: 32px;
$tablet: 769px;
$desktop: 960px + (2 * $gap);
$widescreen: 1152px + (2 * $gap);
$fullhd: 1344px + (2 * $gap);

$bulmaswatch-import-font: false;
$radius: 4px;
$radius-large: 4px;

$body-background-color: #2d2d2d;

$column-gap: 1rem;

$input-background-color: #494949;
$input-color: $white-ter;
